@import 'tailwindcss';

/* Ensure the absolute base is transparent */
body,
html,
#root {
  background-color: transparent !important;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
* {
  cursor: default !important;
}
